<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="KinopoiskUrl" value="www.kinopoisk.ru"/>
  <add key="KinoManiacUrl" value="http://kino-maniac.ru"/>
  <add key="DescriptionSection" value=".//*[@itemprop='description']"/>
  <add key="YouTubeUrl" value="youtube.com"/>
  <add key="CurrentPosition" value="1"/>
  <add key="Login" value="Loki"/>
  <add key="Password" value="***************"/>
</appSettings>
</configuration>