<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="KinopoiskUrl" value="www.kinopoisk.ru"/>
	<add key ="KinopoiskSearchGoogle" value="{0} site:www.kinopoisk.ru/film"/>
  <add key="KinoManiacUrl" value="http://kino-maniac.ru/adminkadostup.php?mod=addnews&amp;action=addnews"/>
  <add key="DescriptionSection" value=".//*[@itemprop='description']"/>
  <add key="YouTubeUrl" value="youtube.com"/>
  <add key="CurrentPosition" value="300"/>
  <add key="MetaTitleFormat" value="{0} {1} смотреть онлайн бесплатно скачать торрент"/>
  <add key="Login" value="Loki"/>
  <add key="Password" value="***************"/>
	<add key="WaitTimeout" value="10"/>
	<add key="LimitCount" value="10"/>
</appSettings>
</configuration>